
  
  body {
    background-color: beige;
    margin: 0;
  }
  
  main {
    margin: 5px;
    max-width: 99%;
    min-width: 100px;
    background-color: grey;
  }
  
  #image-div {
    min-width: 96px;
    min-height: 96px;
    display: flex;
    justify-content: center;
  }

  #image-info {
    display: flex;
    justify-content: center;
  }

  .info {
    margin: 2px 2px;
    background-color: dimgrey;
    border-radius: 5px;
  }
  
  header {
    background-color: cyan;
    font-size: 28;
    font-weight: bold;
  }
  
  #result-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .result {
    min-height: 1.4em;
    min-width: 15em;
    text-align: center;
    border: 1px solid black;
  }
  
  #types {
    display: flex;
    justify-content: center;
  }
  
  #types > span{
    margin: 6px;
    border-radius: 5px;
    padding: 3px;
  }
  
  /* ChatGPT is great for monotonous data formatting*/
  .normal {
      background-color: rgb(168, 168, 120);
  }
  
  .fire {
      background-color: rgb(240, 128, 48);
  }
  
  .water {
      background-color: rgb(104, 144, 240);
  }
  
  .electric {
      background-color: rgb(248, 208, 48);
  }
  
  .grass {
      background-color: rgb(120, 200, 80);
  }
  
  .ice {
      background-color: rgb(152, 216, 216);
  }
  
  .fighting {
      background-color: rgb(192, 48, 40);
  }
  
  .poison {
      background-color: rgb(160, 64, 160);
  }
  
  .ground {
      background-color: rgb(224, 192, 104);
  }
  
  .flying {
      background-color: rgb(168, 144, 240);
  }
  
  .psychic {
      background-color: rgb(248, 88, 136);
  }
  
  .bug {
      background-color: rgb(168, 184, 32);
  }
  
  .rock {
      background-color: rgb(184, 160, 56);
  }
  
  .ghost {
      background-color: rgb(112, 88, 152);
  }
  
  .dragon {
      background-color: rgb(112, 56, 248);
  }
  
  .dark {
      background-color: rgb(112, 88, 72);
  }
  
  .steel {
      background-color: rgb(184, 184, 208);
  }
  
  .fairy {
      background-color: rgb(238, 153, 172);
  }
  